.DS_Store
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
_minted*/	
hat
hat.dSYM
*.o
*.o.dSYM
.vscode
.Makefile.un~
.main.cpp.un~
.ipynb_checkpoints
hat_benchmark.csv
resizable_array_benchmark.csv
hat_scan_benchmark.csv
resizable_array_scan_benchmark.csv
download_benchmark_file.sh

